body {
	width: 471px;
	min-height: 700px;
}

.spaceBetween {
	display: flex;
	justify-content: space-between;
}

.courseTitle {
	/*margin-top: 110px;*/
}

.courseHeader {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.courseHeader div a {
	color: #FFFFFF;
}

.subheading {
	margin: 20px 15px 10px 15px;
	font-size: 130%;
}

.contentItem {
	font-size: 70%;
}

.headerGlyphicons, .title {
	margin-top: 10px;
    font-size: 180%;
}

#back:hover {
	cursor:pointer;
}

.badges {
	color: #006fbf;
}

.notification {
	border: 2px solid #e87511;
	color: #e87511;
	border-radius: .25rem;
	font-size: 1.25rem;
	font-weight: 700;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
