body {
	width: 471px;
	min-height: 700px;
}

.spaceBetween {
	display: flex;
	justify-content: space-between;
}

.courseTitle {
	/*margin-top: 110px;*/
}

.courseHeader {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.courseHeader div a {
	color: #FFFFFF;
}

.subheading {
	margin: 20px 15px 10px 15px;
	font-size: 130%;
}

.contentItem {
	font-size: 70%;
}

.headerGlyphicons, .title {
	margin-top: 10px;
    font-size: 180%;
}

#back:hover {
	cursor:pointer;
}

.badges {
	color: #006fbf;
}

.notification {
	border: 2px solid #e87511;
	color: #e87511;
	border-radius: .25rem;
	font-size: 1.25rem;
	font-weight: 700;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.ellipses {
	opacity: 0;
	position: absolute;
	right: 3px;
	top: 3px;
	height: 35px;
	width: 35px;
	text-align: center;
	border-radius: 3px;
	cursor: 'pointer';
	margin-left: 25px
}

.ellipses svg {
	margin-top: 4px;
	margin-left: 3px;
	fill: white;
	opacity: 1
}


.ellipses:hover {
	opacity: 1;
	background: rgba(0,0,0,.5);
	cursor: pointer;
}

.ellipsesHover {
	opacity: 1;
	background: rgba(0,0,0,.5);
	cursor: pointer;
}
