body {
	width: 450px;
	min-height: 700px;
}

.spaceBetween {
	display: flex;
	justify-content: space-between;
}

.courseTitle {
	margin-top: 110px;
}

.courseHeader div a {
	color: #FFFFFF;
}

.subheading {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 130%;
}

.contentItem {
	font-size: 70%;
}

.headerGlyphicons, .title {
	margin-top: 10px;
    font-size: 180%;
}

#back:hover {
	cursor:pointer;
}
