.row {
	padding:10px;
}

.extLink {
	display: flex;
	justify-content: space-between;
	padding-top: .25rem
}

.extLink a {
	margin-top: .5rem;
	color: #565a5c
}

.notification {
	border: 2px solid #e87511;
	color: #e87511;
	border-radius: .25rem;
	font-size: 1.2rem;
	font-weight: 700;
	width: 2.8rem;
	height: 2.5rem;
	line-height: 2rem;
	display: inline-flex;
	margin-top: .25rem;
	align-items: center;
	justify-content: center;
}

.courseInfo {
	padding-top: 1rem;
}

.courseImage {
	border-top-right-radius: 7px;
	border-top-left-radius: 7px
}

.mainContainer {
	padding-left:5px;
	padding-right:5px;
}
