body {
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 13px;
	width: 350px;
	min-height: 500px;
}

div {
	display: flex;
	flex-direction: column;
}

button {
	margin: 10px 15px 10px 15px;
}

.header {
	border-bottom: 1px solid black;
}

.title {
	font-size: 200%;
}

a:focus {
	outline: none;
}
