body {
	width: 450px;
	min-height: 620px;
}

.spaceBetween {
	display: flex;
	justify-content: space-between;
}

.courseTitle {
	margin-top: 110px;
}

.courseHeader div a {
	color: #FFFFFF;
}

.headerGlyphicons, .title {
	margin-top: 10px;
    font-size: 180%;
}

.row {
	padding:10px;
}

.extLink {
	display: flex;
	justify-content: space-between;
	padding-top: .25rem
}

.setting {
	margin-top: 20px;
}

.notification {
	border: 2px solid #e87511;
	color: #e87511;
	border-radius: .25rem;
	font-size: 1.5rem;
	font-weight: 700;
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2rem;
	display: inline-flex;
	margin-top: .25rem;
	align-items: center;
	justify-content: center;
}

.courseInfo {
	padding-top: 1rem;
}

.name {
	margin-top: .5rem;
}

.homeHeader {
	display: flex;
}

/*.homeHeader a {
	font-size: 180%;
	margin-top: auto;
}*/
